@media screen and (max-width: 600px) {
  body {
    // background-color: olive;
	#navbar {
		flex-direction: column;
		align-items: center;
		margin-top:80px;
	}

	main {
		margin-top:80px;

		#main-line1 {
			margin:20px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#main-line2 {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top:110px;
					.cardResponsive {
						margin-top: 300px;
					}
				}
	}
  }
}

// ______________________________________________________________________________________


@media screen and (min-width: 601px) and (max-width: 930px) {
    // body {
    //     background-color: deepskyblue;
    // }
	
	main {
		#main-line1 {
			margin:20px;
			flex-direction: column;
			align-items: center;
		}

		#main-line2 {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top:110px;
				.cardResponsive {
					margin-top: 300px;
				}
			}

	}	
}


// ______________________________________________________________________________________

@media screen and (min-width: 931px) and (max-width: 1270px) {

	 #main-line2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top:110px;
		.cardResponsive {
			margin-top: 300px;
		}
	}

}

// _______________________________________________________________________________

@media screen and (max-width: 870px) {
  body { 
		#gaming-project-box {
			overflow: scroll;
			h1 {
				text-align: center;
			}

		}


		#commercial-project-box {
			overflow: scroll;
			h1 {
				text-align: center;
			}
		}		
  }
}


// __________________________________________________________________________________________




#headerContainer {
	display: flex;
	justify-content: center;
	font-family: 'Indie Flower', cursive;
	font-size: 60px;

}

#navbar {
	display: flex;
	justify-content: space-around;
	font-family: 'Indie Flower', cursive;
	text-decoration: none;
	font-size: 30px;
	height:30px;
	margin-top: 40px;

	.navbar-item a {
		text-decoration: none;
	}
}


main {
	
	#main-line1 {
		display: flex;
		justify-content: center;
		margin-top:110px;

		#hero-image-container {
			border: 1px solid black;
			height:400px;
			width:70%;
			background: url("hero-image.jpg") 50% 50% no-repeat;
			background-size: cover;

		}

		#gaming-project-box {

		border:3px solid black;
		height:300px;
		width:35%;	
		display:flex;
		flex-direction: column;
		align-items: center;

		h1 {
			font-family: 'Permanent Marker', cursive;
		}

		button {
			border-radius: 5px;
			background-color: #8F1537; /* Green */
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin-top: 14px;
			a {
				text-decoration: none;
				color:white;
				}
			}	
		}
			

		#commercial-project-box {		
		border:3px solid black;
		height:300px;
		width:35%;
		display:flex;
		flex-direction: column;
		align-items: center;
		

		h1 {
			font-family: 'Crimson Text', serif;
		}

		button {
			border-radius: 5px;
			background-color: #8F1537; /* Green */
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin-top: 14px;
			a {
				text-decoration: none;
				color:white;
				}
			}
		}
	}

	// main line 1 END

		#main-line2 {
			// margin-bottom:400px;
			display:flex;
			justify-content: space-around;
			margin-top:110px;
			flex-wrap: wrap;

		.item2 {
			width:50%;
		}

		.card {
		  background: white;
		  text-decoration: none;

		  color: #444;
		  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
		  display: flex;
		  flex-direction: column;
		  // min-height: 100%;
		  width:300px;
		  height:50px;
		  
		  // sets up hover state
		  position: relative;
		  top: 0;
		  transition: all .1s ease-in;
		    
		  &:hover {
		    top: -2px;
		    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
		  }
		  
		  article {
		    padding: 20px;
		    flex: 1;
		    
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    position:relative;
		    top:-250px;
		  }
		  
		  h1 {
		    font-size: 20px;
		    margin: 0;
		    color: #333;
		  }
		  
		  p {
		    flex: 1;
		    line-height: 1.4;
		  }
		  
		  span {
		    font-size: 12px;
		    font-weight: bold;
		    color: #999;
		    text-transform: uppercase;
		    letter-spacing: .05em;
		    margin: 2em 0 0 0;
		  }
		  
		  .thumb {
		    padding-bottom: 90%;
		    background-size: cover;
		    background-position: center center;
		    // background-image: url(Selfie.jpg);
		  }
		}			
	}
}


	
